@model WineFormModel
@{
	ViewData["Title"] = "Edit Wine";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_WineFormPartial" model="@Model" />

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}