@model List<WineAllViewModel>
@{
	ViewData["Title"] = "My added Wines";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
	<h2 class="text-center">You do not have any added Wines yet!</h2>
}
else
{
	<div class="row">
		@foreach (WineAllViewModel wine in Model)
		{
			<partial name="_WinePartial" model="wine" />
		}
	</div>
}