@model SodaFormModel
@{
	ViewData["Title"] = "Add Soda";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_SodaFormPartial" model="@Model"/>

@section Scripts
{
	<partial name="_ValidationScriptsPartial"/>
}