@model WhiskeyFormModel
@{
	ViewData["Title"] = "Edit Whiskey";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_WhiskeyFormPartial" model="@Model" />

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}