@model List<WhiskeyAllViewModel>
@{
	ViewData["Title"] = "My added Whiskeys";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
	<h2 class="text-center">You do not have any added Whiskeys yet!</h2>
}
else
{
	<div class="row">
		@foreach (WhiskeyAllViewModel whiskey in Model)
		{
			<partial name="_WhiskeyPartial" model="whiskey" />
		}
	</div>
}